:root
{
  --Gold: #b89412a1;
  --Dark: #000000c4;
  --White: #eaeaf2e8;
}
body
{
    background-color: var(--White);
}
*
{
    color: var(--Gold);
    text-align: center;
}
h1
{
    font-size: calc(14pt + 6vw);
}
nav
{
    border: 5px var(--Dark) solid;
}
section
{
    border: 4px var(--Gold) solid;
    margin: 4px;
    margin-top: 50px;
}
.date
{
    color: var(--Dark);
}
ul
{
    list-style: none;
    padding-left: 0px;
    font-size: 14pt;
}
img
{
    border-radius: 50%;
}
