:root
{
  --Dark: #0a2334;
  --Gold: #e1b036;
  --Light: #dcdcf2;
}
body
{
    background-color: var(--Light);
    font-style: italic;
}
*
{
    color: var(--Dark);
    text-align: center;
}
h1
{
    font-size: calc(14pt + 4vw);
}
nav
{
    border: 7px var(--Gold) solid;
}
section
{
    border: 4px var(--Dark) double;
    margin: 4px;
    margin-top: 55px;
}
.date
{
    color: var(--Gold);
}
ul
{
    list-style: circle;
    padding-left: 0px;
}
