:root
{
  --Dark-Blue: #1e6290;
  --Dark-Gold: #e1b036;
  --Light-Purple: #dcdcf2;
}
body
{
    background-color: var(--Light-Purple);
    font-style: italic;
}
*
{
    color: var(--Dark-Blue);
    text-align: center;
}
h1
{
    font-size: calc(14pt + 4vw);
}
nav
{
    border: 7px var(--Dark-GoldGold) solid;
}
section
{
    border: 4px var(--Dark-Blue) double;
    margin: 4px;
    margin-top: 55px;
}
.date
{
    color: var(--Dark-GoldGold);
}
ul
{
    list-style: circle;
    padding-left: 0px;
}
