:root
{
    --uncblue: RGb(1,45,91);
    --uncgold: RGb(254,189,54);
    --uncgray: RGb(235,230,230);

    background-color:var(--uncgray)
}
.title
{
  color: var(--uncgold);
  font-size: 50pt;
  text-decoration: underline;
  text-align: center;
}

h1
{
    font-size: 48px;
    text-align: center;
}

img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

ul li
{
    font-weight: bold;
    text-align: center;
}

.footertext
{
    display: block;
    margin-top: 200px;
    text-align: center;
}

h2 + p
{
    text-align: center;
}

h2 + p + a
{
    text-align: center;
    display: block;
}
p
{
    text-align: center;
}


