body {
   font-family: Arial;
}

#container {
   display: flex;
   gap: 20px;
   flex-direction: row-reverse;
   justify-content: center;
   flex-wrap: wrap;
}

.photo {
   padding: 10px;
   box-shadow: 3px 3px 3px lightgray;
   border: 1px solid lightgray;   
}

.photo img {
   width: 200px;
}

.photo p {
   text-align: center;
}
:root
{
  --UNC-Blue: rgb(7, 21, 30);
  --UNC-Gold: #b8b9bd;
  --UNC-Gray: #f2f2f2;
}
body
{
    background-color: var(--UNC-Gray);
}
*
{
    color: var(--UNC-Blue);
    text-align: center;
}
h1
{
    font-size: calc(12pt + 4vw);
    text-align: center;
}
nav
{
    border: 7px var(--UNC-Gold) solid;
}
section
{
    border: 5px var(--UNC-Blue) solid;
    margin: 5px;
    margin-top: 50px;
}
ul
{
    list-style: none;
    padding-left: 0px;
}


