:root
{
  --UNC-Blue: rgb(1, 7, 11);
  --UNC-Gold: #d3a531;
  --UNC-Gray: #f8f8fe;
}
body
{
    background-color: var(--UNC-Gray);
}
*
{
    color: var(--UNC-Blue);
    text-align: center;
}
h1
{
    font-size: calc(12pt + 4vw);
}
nav
{
    border: 7px var(--UNC-Gold) solid;
}
section
{
    border: 5px var(--UNC-Blue) solid;
    margin: 5px;
    margin-top: 50px;
}
.date
{
    color: var(--UNC-Gold);
}
ul
{
    list-style: none;
    padding-left: 0px;
}
li
{
    display: inline;
    margin-left: 3vw;
    margin-right: 3vw;
}
img
{
height: 250;
}
